@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
     
        <div class="banner">
            <img src="/img/background/career-banner.jpg" alt="" class="dekstop-banner" />
            <img src="/img/background/careers-banner-mobile.jpg" alt="" class="mobile-banner">
            <div class="logo">
                <a href="/">
                    <img src="/img/generic/logo-white.png" alt="" />
                </a>
            </div>
        </div>
        
        <section id="theteam">
            <div class="careers">
                <h1>
                    Careers
                </h1>
                <p>
                    A career with Eagle Hills will allow you to shape the future.
                </p>
                <p>
                    Our sustainable and modern mixed-use developments energize and diversify local economies.
                </p>
                <p>
                    With a rapidly expanding portfolio, we are continuously seeking to recruit the very best talent in our existing and new markets.
                </p>
                <p>
                    We encourage diversity and welcome different perspectives. As an international organization our people represent a variety of nationalities, academic and social backgrounds.
                </p>
                <p>
                    Our employees are energetic, innovative and passionate about what they do. We work closely as a team, sharing our knowledge and expertise to develop inspiring destinations. Working in a dynamic and fast moving organization, you will see your career progress, providing endless opportunities.
                </p>
                <p>
                    To find out more about starting a career with Eagle Hills please contact us:
                </p>

                <a href="mailto:Careers.UAE@eaglehills.com" class="send-cv">careers.UAE@eaglehills.com</a>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
<script src="~/js/jquery.default.js"></script>