@{
    ViewBag.Title = "CentenaryCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">
                
                <div class="news-details">
                    <div class="news-content">
                        <span>
                            November 9, 2014
                        </span>
                        <h5>
                         The Address Abuja to showcase work of leading international architects and consultants in Centenary City
                        </h5>
                        <div class="img-caption">
                         <img src="@Url.Content("~/img/media/img-2.jpg")" alt="" />
                         <span class="image-desc">
                          The Address Hotels + Resorts, which is the five-star premium hotel brand of Emaar Hospitality Group
                         </span>
                        </div>
                        <p>
                         The Address Abuja – the new luxury hotel and residential development at the heart of Centenary City masterplan– is to feature the creative vision of a number of the world’s leading architects and designers. 
                        </p>
                        <p>
                         The Address Hotels + Resorts, which is the five-star premium hotel brand of Emaar Hospitality Group,  launched in Nigeria earlier this month at Centenary City Abuja, the smart-city of the future being developed by Eagle Hills, the Abu Dhabi-based real estate investment company and developer. 
                        </p>
                        <p>
                         RTKL, a worldwide architecture, engineering, planning and creative services organization, are the master planners for Centenary City, spread over 1,300 hectares, will be a smart, interconnected, intelligent city of the future. Part of the ARCADIS global network since 2007, RTKL specializes in providing its multi-disciplinary services across the full development cycle to create places of distinction and designs of lasting value. The firm has been consistently been ranked among the world’s top design firms and enjoys a vast portfolio of major projects across the globe including Brickell Financial Centre, Miami, Florida and The Phoenix Project Post 9/11 Reconstruction of the Pentagon, Arlington, Virginia, and City Crossing, Shenzhen, China to name a few.
                        </p>
                        <p>
                         Set in a spectacular position, offering breathtaking views of Centenary City and the surrounding landscape, The Address Abuja offers hospitality and residential living with villas and apartments exclusively serviced by The Address Hotels + Resorts.  The Address Abuja is a luxury hotel with a comprehensive range of facilities to meet the needs of business and leisure visitors including a diverse range of premier dining options and health and wellness facilities.
                        </p>
                        <p>
                         Leading architect firm HKS is behind the arresting design of The Address Abuja. The architectural façade of the hotel provides a striking design while responding sensibly to the environmental context, creating a tranquil oasis with secluded privacy for residents. Founded in the United States in 1939, the firm has developed projects in 1,498 cities throughout 84 countries over the past 75 years. The firm is behind some of the world’s most iconic hotel developments, include the W Hollywood and the Montage Beverley Hills in California.  Its projects and hospitality designs have been recognized with multiple global awards throughout the world. The firm’s philosophy is that design needs to enhance the human experience.
                        </p>
                        <p>
                         The luxury interior has been managed by award-winning design firm Hirsch Bedner Associates (HBA) London. Renowned as one of world’s leading hospitality design firms and honoured in 2013 by the Gold Key Awards, Hospitality Design, Perspective Awards, the Boutique Design Awards and the European Hotel Design Awards, HBA has a track record of involvement in the design of some of the world′s most anticipated hotels, resorts, and spas stretching back to 1965. Blending incomparable industry experience with a passion for artistic exploration, the team develops strong aesthetic identities that set new standards for luxury and comfort around the globe.
                        </p>
                        <p>
                         The residential community within The Address Residence Abuja consists of 47 luxury villas featuring large living areas and spacious gardens, and a range of apartments. Located on the edge of the development with sweeping panoramic views over Centenary City that are breathtaking both by day and at night. In addition to the main hotel – HKS and HBA have designed two of the several villa types.
                        </p>
                        <p>
                         The other luxury villas are designed by Wimberly, Allison, Tong & Goo (WATG), a global design firm which has worked on some of the most iconic hotel and landmarks in the world, such as Emirates Palace in Abu Dhabi and Atlantis in Dubai. Over the course of the last seven decades WATG and its affiliated design studio Wimberly Interiors have become one of the world's leading design consultants for the hospitality, leisure and entertainment industries, offering integrated design services comprising strategy, planning, design, architecture, landscape, and interiors design for urban tourism and resort destinations. 
                        </p>
                        <p>
                         Jaimal Shergill, Executive Director Africa of Eagle Hills said: "Architecture and design provides the setting to inspire the way we live, work and play. The design of a place has the capability to facilitate activity and bring joy to the human spirit. We have been privileged to be able to work with a number of leading international architects and design firms on The Address Abuja that reflect this philosophy."
                        </p>
                        <p>
                         The creative vision of the international designers is to be brought to life on the ground by a strong team of consultants and contractors who are spearheading the delivery of The Address: Dar Al Handasah, one of the world’s leading international project design, management and supervision consultancies is providing engineering and infrastructure consultancy on site. Contractor, Julius Berger, which has been behind major civil engineering and building projects throughout Nigeria, including entire road networks, key bridges, damns and ports, airports, industrial and sports facilities and residential developments, is currently onsite providing grading works. AECOM a global property services company is providing cost consultancy advice. 
                        </p>
                        <p>
                         Please visit <a href="http://www.centenarycity.com">www.centenarycity.com</a> for more information.
                        </p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                         <span class="email">
                          <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                         </span>
                         <span>
                          <a href="javascript:window.print()">
                           <img src="img/generic/print.png" alt="" />
                          </a>
                         </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
@*@section Stylings
    {
    <link rel="stylesheet" href="@Url.Content("~/css/projects.css")">
    }*@