@{
    ViewBag.Title = "CentenaryCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">
                
                <div class="news-details">
                    <div class="news-content">
                        <span>
                            November 19, 2014
                        </span>
                        <h5>
                         The Address Hotels + Resorts set to open in Abuja Centenary City in Nigeria as part of brand's global expansion
                        </h5>
                        <div class="img-caption">
                         <img src="@Url.Content("~/img/media/img-2.jpg")" alt="" />
                         <span class="image-desc">
                          The Address Hotels + Resorts, which is the five-star premium hotel brand of Emaar Hospitality Group
                         </span>
                        </div>
                        <p>
                         The Address Hotels + Resorts, the five star premium hotel brand of Emaar Hospitality Group, a subsidiary of Dubai-based global property developer Emaar Properties, is set to mark its entry into the Nigerian market as part of its international expansion strategy at the Abuja Centenary City.  
                        </p>
                        <p>
                         An ambitious city of the future, which ushers in a new era of economic prosperity to the country, Abuja Centenary City is a fitting tribute to the country on its 100th year of formation. Envisaged as a spectacular city hub, the 1,300 hectare master-planned community is the largest of its kind in Africa, and is developed by Eagle Hills, a private investment and real estate development company as part of a joint venture agreement with the Government of Nigeria. President Goodluck Jonathan had marked the groundbreaking of the project earlier this year. 
                        </p>
                        <p>
                         One of the most admired developers, Emaar Properties is the developer of Burj Khalifa, the world's tallest building, and The Dubai Mall, the world's largest and most-visited retail and entertainment destination which welcomed 75 million visitors last year and over 58 million visitors in the first nine months of 2014. 
                        </p>
                        <p>
                         The pioneer of integrated master-planned communities in Dubai, Emaar has successfully taken its development model to key international markets in the Middle East, North Africa, Pan-Asia, Europe and North America. Creating significant value to local economies through its path-breaking developments, Emaar has also proven its competencies in hospitality & leisure and shopping malls & retail. 
                        </p>
                        <p>
                         A highlight of Emaar's approach to developing integrated lifestyle destinations is Downtown Dubai, the 500-acre, US$20 billion flagship development described as 'The Centre of Now' and featuring global icons including: Burj Khalifa, The Dubai Mall and The Dubai Fountain, the tallest performing fountain. Emaar has launched several prestigious residential projects in Dubai which have received strong investor interest from international investors including from Nigeria. 
                        </p>
                        <p>
                         Highlighting the expansion plans of The Address Hotels + Resorts, Philippe Zuber, Chief Operating Officer of Emaar Hospitality Group, said: "Nigeria is one of the fastest growing markets in Africa and serves as a perfect fit to complement our international expansion strategy. Abuja Centenary City offers an ideal and high-growth environment for us to establish our credentials as a premium hotel operator in the country."
                        </p>
                        <p>
                         With five prestigious properties in Dubai that are preferred by business and leisure visitors from Nigeria, The Address Hotels + Resorts has marked its global expansion with management contracts to operate The Address Marassi Golf Resort & Spa in Egypt. Additionally, the brand will operate The Address Masai Mara in Kenya, a retreat highlighted by the natural beauty of Kenya. 
                        </p>
                        <p>
                         The Address Hotels + Resorts has also launched The Address Residence Istanbul, a premium collection of 5-star serviced residences, which are part of the Emaar Square integrated community in Turkey.  This marks the first full-fledged hotel and serviced residence project of The Address Hotels + Resorts, in an international market.
                        </p>
                        <p>
                         "We see a strong growth opportunity in Nigeria, particularly in Abuja Centenary City, to introduce our hotel brand that is defined by the philosophy of 'Where Life Happens,'" said Mr. Zuber. "This means a focus on providing a more personal and approachable experience to guests, whether business, leisure or group travellers, in a vibrant lifestyle environment."
                        </p>
                        <p>
                         He added: "Our goal is to set a new benchmark in the hospitality sector of Nigeria through our unique 'one-size-fits-one' approach of creating exceptional lifestyle destination in Abuja Centenary City. The Address chooses central locations to offer its customers the best in entertainment, leisure and overall convenience. Abuja Centenary City, therefore, is a perfect fit to our brand philosophy."
                        </p>
                        <p>
                         The Address assures a bouquet of unique lifestyle experiences for all travellers within its properties. Diverse on-site food and beverage options, premier health and wellness facilities and iconic attractions in close proximity enhance the overall experience, differentiating it from its competitors.
                        </p>
                        <p>
                         The five properties under The Address brand in Dubai include: The Address Downtown Dubai, The Address Dubai Mall, The Address Dubai Marina, The Address Montgomerie Dubai and The Palace Downtown Dubai. "These properties are already familiar with visitors to Dubai. We seek to leverage the brand recognition of The Address Hotels + Resorts by further establishing our footprint in Nigeria," said Mr. Zuber. Upcoming serviced residences in Dubai include: The Address Residence The BLVD, The Address Residence Sky View, and The Address Residence Fountain Views.
                        </p>
                        <p>
                         Bilateral relations between Nigeria and Dubai are recording an all-time high. According to a report by Dubai Chamber of Commerce & Industry, non-oil trade between Dubai and Nigeria accounted for almost  NGN 257 billion (AED 5.6 billion) in 2013. Inbound tourism from Nigeria to Dubai is also increasing led by increased airline connectivity. Only recently, Emirates Airline, the city's global carrier, signed a MoU with Arik Air to expand operations in Nigeria and West Africa. 
                        </p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                         <span class="email">
                          <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                         </span>
                         <span>
                          <a href="javascript:window.print()">
                           <img src="img/generic/print.png" alt="" />
                          </a>
                         </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
@*@section Stylings
    {
    <link rel="stylesheet" href="@Url.Content("~/css/projects.css")">
    }*@