@{
    ViewBag.Title = "CentenaryCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">
                <div class="news-details">
                    <div class="news-content">
                        <span>
                            28 November 2014
                        </span>
                        <h5> Centenary  City reveals its first residential and hospitality launch with The Address  Abuja</h5>
                        <div class="img-caption">
                            <img src="@Url.Content("~/img/inner/Centenary-City-masterplan.jpg")" alt="" />
                            
                        </div>
						<p>&nbsp;</p>
						
                       <p>The  Address Residence Abuja marks the first launch of Centenary City development in  Abuja</p>

 
  <p>
  - The  Address Abuja site will contain residential buildings with over 242 hotel  rooms, all serviced by The Address Hotels + Resorts of 5 star ranking<Br/>
  - Secured residential  development will include four to ten-bedroom villas, and 244 one, two and three-bedroom  apartments serviced by The Address Abuja<Br />
  - The freezone  development offers breath-taking views that extend across Centenary City<Br />
  - Register  interest online at </em><a href="http://www.centenarycity.com"><em>www.centenarycity.com</em></a> ; launch event on December 2 at Centenary City Sales Centre,  Abuja
   </p>

<p><strong>Abuja, Nigeria, 28 November 2014</strong>: Eagle Hills, a UAE-based  private real estate investment and development company, has announced the launch  of The  Address Hotels + Resorts as a core element of Centenary City, its premier  lifestyle freezone development in Abuja. The Address Abuja promises to  introduce a new concept in Nigeria for hospitality and residential living with  serviced villas and apartments. </p>
<p>
  The Address Abuja in Centenary  City is designed to work in harmony with nature: an exclusive community  becoming part of the natural landscape and offering both an impressive downtown  skyline and peaceful suburban living. </p>
<p>
  Set in a spectacular position,  offering breathtaking views of Centenary City and the surrounding landscape, The  Address Abuja will feature a luxury hotel with a comprehensive range of  facilities to meet the needs of business and leisure visitors including a rich  and diverse range of premier health and wellness facilities. Several dining  options provide the residents and visitors with a wide range of options to  enjoy global cuisines.</p>
<p>
  The podium deck is the front  door of the project, featuring a carefully detailed complex of private decks,  infinity pools, concierge services, and the ultimate in club facilities, all  within a resort atmosphere. The development aims to boost the Nigerian  hospitality sector, bringing it in par with international standards across the  globe. </p>
<p>
  Mohamed Alabbar, board member  of Eagle Hills said: &ldquo;Centenary City Abuja is a fitting tribute to the country  on its 100th year of formation. The  1,300-hectare master-planned community, with  the support of the Secretary to the Government of the Federation (SGF) Anyim  Pius Anyim, is envisaged  as a spectacular city hub and the  largest of its kind in Africa. The Address Residence Abuja will be the latest  premier property embodying Eagle Hills progressive spirit.&rdquo;
  The project features a  residential community consisting of four- to ten-bedroom luxury villas and one-  to three-bedroom apartments. In a first instance for the Nigerian market, the  residences will be serviced by The Address Hotels + Resorts.  Connectivity is a key theme throughout the freezone  development. An example would be the villas and five apartment buildings  designed to offer private living while offering complete access to the hotel  amenities. Fully secured by a private gate 24/7, the project will have  triple-line security ensuring the safety and comfort of residents and visitors  across the project. </p>
<p>
  Philippe Zuber,  Chief Operating Officer of The Address Hotels + Resorts said &ldquo;The Address Abuja,  the five star premium hotel brand brings a new identity to the hospitality and  service offering in Nigeria and the region. The Address chooses central  locations to offer its customers the best in entertainment, leisure and overall  convenience, guaranteeing a first-class hospitality experience for every  guest.&rdquo;</p>
<p>
  Since its creation  in 2008, The Address Hotels + Resorts has  established a unique position within the luxury lifestyle hotel segment spectrum and has won numerous awards for the delivery  of its exemplary standards. With a core target market in the &lsquo;modern, young and  trendy space', and target client demographics ranging from the 'social CEO' and  to those seeking the full-service luxury experience', The Address Hotels  + Resorts group philosophy is to offer a more personal and approachable  experience to guests in a lifestyle environment, whether it be business,  leisure or group travelers.  Its motto &lsquo;Where life happens&rsquo;  demonstrates the versatile approach of The Address to servicing every customer,  guaranteeing a first-class hospitality experience for every guest; making it  the perfect addition to Centenary City. </p>
<p>
  With  excellent connectivity to the main highway, 30 minutes from the city centre and  less than 10 minutes from the airport, The Address Abuja in Centenary City is  located in the heart of this spectacular development. </p>

<p>
  The arrival of The Address  Hotel in Nigeria at Centenary City Abuja is symbolic of Eagle Hills&rsquo; approach  to developing flagship mixed-use master-planned communities in high growth  cities of the future. The urban expansion and renewal projects positively impact  business and tourism while also ensuring sustainable economic growth. When  completed, Centenary City will be an interconnected, smart and intelligent city  that will create several thousand new jobs and promote other sectors such as  retail, hospitality and leisure. </p><p>Please visit <a href="http://www.centenarycity.com">www.centenarycity.com</a> to register your  interest in The Address Residence Abuja in Centenary City. The sale will be  held on December 2 from 10 am at Centenary City Sales Centre, Abuja.</p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
@*@section Stylings
    {
    <link rel="stylesheet" href="@Url.Content("~/css/projects.css")">
    }*@