@{
    ViewBag.Title = "news-detail-14";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">

                <div class="news-details">
                    <div class="news-content">
                        <span>
                            June 24, 2014
                        </span>
                        <h5>
                            President Goodluck Jonathan marks groundbreaking of Abuja Centenary City

                        </h5>
                        <div class="img-caption">
                            <img src="@Url.Content("~/img/media/Centenary-City-masterplan.jpg")" alt="" />
                            <span class="image-desc">
                                Centenary City masterplan
                            </span>
                        </div>
                        <p>
                        <ul class="block-list">
                            <li>Anchored by Africa’s tallest building and the Continent’s largest retail and entertainment destination, 30-hectare Nigeria Park, vibrant cultural centre, world-class hotels and R&amp;D facilities in smart, interconnected city of the future</li>
                        </ul>
                         </p>
                        <p><strong>Abuja, Nigeria; June 24, 2014:</strong> Nigerian President Goodluck Jonathan today marked the ground-breaking of Abuja Centenary City, an ambitious city of the future, which ushers in a new era of economic prosperity to the country.</p>
                         
                        <p>Abuja Centenary City is a fitting tribute to the country on its 100<sup>th</sup> year of formation. Envisaged as a spectacular city hub, the 1,300-hectare master-planned community is the largest of its kind in Africa.</p>
                         
                        <p>In the presence of officials of Centenary City Plc and other high-ranking officials, President Jonathan also unveiled the master-plan of the project, which has three iconic features – Africa Tower, scaling high at 308 metres, The Mall of Africa and a 30-hectare Nigeria Park. Africa Tower will be the tallest building in the Continent while the mall will be its largest retail and entertainment destination. The project will be developed by Eagle Hills, an Abu Dhabi-based private investment company.</p>
                        <p>A smart, inter-connected urban centre that draws on the latest technologies, Abuja Centenary City will have a central business district, a financial centre, a museum &amp; cultural centre to promote African and global arts, 13 world-class hotels, business and technology parks, residential districts, an 18-hole golf course, R&amp;D &amp; industry centres, sports and leisure facilities and community amenities. Upon completion, Abuja Centenary City will be home to 137,850 residents and an office community of over 87,000 workers in addition to over 60,000 workers expected at the Science &amp; Technology Park.</p>
                         
                        <p>The project is billed to be a strong catalyst for the city’s growth, with its economic impact potentially contributing about five per cent of Abuja’s GDP, upon completion in phases. It will energise the economy by creating several thousand jobs during construction and afterwards. It will also be a magnet for further foreign investment, as Abuja Centenary City is envisioned to be a retail, hospitality and tourism hub of Africa.</p>
                         
                        <p>Abuja Centenary City has been designed by world-class architects by taking into consideration its natural environment. The different components, such as the R&amp;D centre and technology parks are designed to create high-tech jobs for the talented youth in Nigeria, and to encourage high-value enterprises in the small and medium business sector.</p>
                         
                        <p>Among other features of the mega-development is Abuja Grand Bazaar which celebrates the culture and indigenous architecture and planning of Nigeria. To be developed to the highest standards of sustainability, Abuja Centenary City will retain the hills within the area as natural features and wildlife preserves, while the adjoining river will serve as a natural flood plain park and partly urban riverfront esplanade. Of the 1,300 hectares, nearly 553 hectares will be green area, which accounts for nearly 40 per cent of the total area.</p>
                        <p>The masterplan of the project takes into consideration several aspects including respect to the context and climate, provide accessibility and sustainable modes of transport, create an interconnected smart city with pedestrian-scaled blocks, feature green spaces and ensure an array of residential choices – from premium to affordable luxury.</p>
                        <p>Of the total built-up area of 8.89 million sqm (8.89 sq km), nearly 60 per cent will be for residential purposes to meet the growing demand for homes in Nigeria, while nearly 25 per cent will be set aside for commercial towers. The science &amp; technology cluster, retail, hospitality, leisure and other community amenities will form the rest.</p>
                         
                        <p>As part of infrastructure development, a light rail metro link from the Airport will bring people directly to the main plaza in front of Africa Tower on the edge of Nigeria Park, while an on-site tram/guided bus system will provide accessibility to the main development zones. A cable car will connect the two main hills and Nigeria Park creating a leisure route for visitors. The project also has a network of pedestrian routes and cycle ways along linear parks, trails and along the urban riverfront which will create a network of connectivity.</p>
                         
                        <p>Abuja Centenary City will be developed in phases with work on the first residential towers, commercial towers and The Address Hotel + Residence towers, to commence in the first phase. Nigerian and international contractors and consultants will work on the project with a global contest to be held soon to choose the design of the tower.</p>
                         
                        <p>The first residential project in Abuja Centenary City will be launched shortly. Potential investors can visit the Centenary City Sales Centre for a detailed overview of the project and to meet customer service representatives.</p>
                         
                        <p><strong>For further queries, please contact:</strong></p>
                        <p><a href="https://mail.emaar.ae/owa/redir.aspx?C=AkUX0z1snkCEIpdt1MhOAf0q6cIcYNEIa8xPjVWq8hdJiydRvKFuDjVNi6V_c5jyHeXOoOeTLO8.&amp;URL=mailto%3Amedia@centenarycity.com">media@centenarycity.com</a></p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre", "Frontend", new { Id = 2 })">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                            <span class="email">
                                <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                            </span>
                            <span>
                                <a href="javascript:window.print()">
                                    <img src="img/generic/print.png" alt="" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
