@{
    ViewBag.Title = "news-detail-13";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">
                <div class="news-details">
                    <div class="news-content">
                        <span>
                            June 7th 2015
                        </span>
                        <h5>
                            La Marina Morocco embarks on its summer programme
                        </h5>
                        <div class="img-caption">
                            <img src="@Url.Content("~/img/media/PR La Marina Morocco[5].jpg")" alt="" />
                            <span class="image-desc">
                                La Marina Morocco embarks on its summer programme
                            </span>
                        </div>
                        <p>
                            <ul class="block-list">
                                <li>La Marina Morocco’s summer programme extends from June 5<sup>th</sup> until end of September 2015</li>
                                <li>La Marina Morocco is the newly refreshed name of Bab al Bahr</li>
                                <li>A wide array of retail, F&amp;B, and leisure attractions make this development one of the most sought-after destinations</li>
                                <li>Apartment units in City of Arts are set to be released on June 12<sup>th</sup> on a first-come, first-served basis</li>
                            </ul>
                        </p>
                        <p>
                            <strong>Morocco, Rabat, June 7th 2015:</strong>
                            La Marina Morocco, previously known as Bab Al Bahr, strategically located between Rabat and the ancient city of Sale, announces today the kick-off of its summer street programme and the opening of its revamped sales on site
                        </p>
                        <p></p>
                        <p>88 apartment units in City of Arts are set to be released on June 12th, and the summer programme will extend until end of September 2015, offering a wide range of attractions for families and friends visiting the location. </p>
                        <p>
                            A host of activities is carefully designed to bring excitement to La Marina Morocco’s streets. Residents and visitors will get the chance to experience the lifestyle ambiance of La Marina Morocco and immerse in festive animations at the riverside. Live music, performers and entertainers will offer breathtaking performances including a jazz trio, mime booth, caricature booth, urban percussionists, accordionist, fire jugglers, and stilts artists. Animations will be running through Friday to Sunday and are planned for every weekend of the summer.
                        </p>
                        <p>La Marina Morocco Art Gallery will also be open throughout the summer, and will be showcasing a new exhibition of different artworks every month.</p>
                        <p>The City of Arts is one of the three flagships districts of the first phase of La Marina Morocco, in addition to the Marina and the River Fronts. Located at the heart of La Marina Morocco, the City of Arts will house a Museum and art Galleries offering both public exhibitions and shows, a hotel and guesthouses. It also includes a commercial area and a wide variety of food and beverage outlets and luxury apartments.</p>
                        <p>
                            <strong>Mohamed Alabbar, Board Member of Eagle Hills said</strong>: “La Marina Morocco is a mixed-use development designed to regenerate communities and act as a powerful catalyst for economic growth. We are confident that this project will contribute to the Moroccan business diversification through the retail, hospitality and leisure sectors. Its unique location offers its residents and visitors a tranquil haven that presents Morocco’s rich past in a contemporary setting, complete with picturesque views, historical landscapes and modern facilities.”
                        </p>
                        <p>
                            Designed by the prestigious firm Foster &amp; Partners, the apartments at the City of Arts are completed with world-class finish. The units range from 82 to 330 sqm, presenting multiple options including two and three-bedroom apartments to suit all the needs and requirements of its tenants. Apartments are set to be released on June 12<sup>th</sup> on a first-come, first-served basis.
                            <ul class="block-list">
                                <li>Two-bedroom apartments : 82 to 196 sqm</li>
                                <li>Three-bedroom apartments : 105 to 235 sqm</li>
                            </ul>
                        </p>
                        <p>The initial phase has already been delivered, and phase two is currently expected to be completed by the fall of 2016. The homes feature central air-conditioning, designer-fitted kitchen, a mix of marble and hardwood floors, and wall treatments throughout.</p>
                        <p>La Marina Morocco is set to become a perfectly balanced urban environment where residential complexes, leisure areas, shops and galleries all seamlessly coexist. The accessibility of this development is further reinforced by the new Moulay El Hassan Bridge as well as two tramway stations.</p>
                        <p>Visitors, potential customers and home-owners are invited to contact La Marina Morocco Sales Centre at Tel: +212 537 849 060 or visit <a href="http://www.lamarinamorocco.com/">www.lamarinamorocco.com</a> for more details.</p>
                        <p>La Marina Morocco is a joint venture between Al Maabar and Agence pour l’Aménagement de la Vallée du Bouregreg to provide a diverse, mixed-used development consisting of residential complexes, hotels, leisure areas, shops and art galleries.</p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre", "Frontend")">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                            <span class="email">
                                <a href="mailto:">
                                    <img src="img/generic/email.png" alt="" />
                                </a>
                            </span>
                            <span>
                                <a href="javascript:window.print()">
                                    <img src="img/generic/print.png" alt="" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
