@{
    ViewBag.Title = "news-detail-12";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">

                <div class="news-details">
                    <div class="news-content">
                        <span>
                            June 2, 2015
                        </span>
                        <h5>
                            Eagle Hills appoints Nikola Nedeljkovic as General Manager of Belgrade Waterfront

                        </h5>
                        <div class="img-caption">
                            <img src="@Url.Content("~/img/media/BW-Nikola-Nedeljkovic.jpg")" alt="" />
                            <span class="image-desc">
                                BW Nikola Nedeljkovic
                            </span>
                        </div>
                        
                        <p><strong> Belgrade, Serbia; June 2, 2015: </strong>  Eagle Hills has appointed Mr. Nikola Nedeljkovic as the General Manager of Belgrade Waterfront. His expertise and contribution will bring additional local support to the project.  </p>
                        
                        <p>Mr. Nikola Nedeljkovic graduated in Boston, USA and obtained his Master`s degree in Milan, Italy. He obtained an extensive and proven international and local experience in the areas of corporate finance, development and real estate, from New York, USA, Netherlands, Luxembourg, Hong Kong to Serbia, as a CEO of MPC Properties and founding partner of Novaston Asset Management. Mr. Nedeljkovic is also a member of the Royal Institution of Chartered Surveyors (RICS). As a General Manager of Belgrade Waterfront, Mr. Nedeljkovic will serve as its lead officer, managing a local team with various areas of expertise.</p>
                       
                        <p> Nikola Nedeljkovic will officially take on the position of General Manager after completion of all legal and administrative steps concerning the joint venture agreement which was signed between the Republic of Serbia and Eagle Hills on April 26, 2015. In accordance with this agreement, Aleksandar Trifunovic, former General Manager of Belgrade Waterfront, will be appointed as the Deputy General Manager by the Government of the Republic of Serbia. </p>
                 
                        <p><strong> About Eagle Hills Abu Dhabi </strong></p>
                        <p> Eagle Hills is an Abu Dhabi-based private real estate investment and development company focused on the development of new city hubs in high-growth international markets. With a focus on developing large-scale real estate projects, Eagle Hills designs and implements mixed-use facilities. These communities draw on the latest technologies to build smart and sustainable projects that add significant value to the local economy. The company is currently developing projects in Bahrain, Jordan, Morocco, Serbia and Nigeria. </p>
                      
                        <p><strong> About Belgrade Waterfront  </strong></p>
                        <p> Belgrade Waterfront is a spectacular new city hub situated along River Sava in Belgrade, Serbia. On a site area of approximately 1 million sq m, and a total construction area of 2 million sq m, Belgrade Waterfront is a modern city within the city, developed by Eagle Hills. It will feature world-class residences and offices, a high-end mall, premium and affordable hotels, educational institutions, modern healthcare amenities and a wide range of leisure attractions.  </p>
                      
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                            <span class="email">
                                <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                            </span>
                            <span>
                                <a href="javascript:window.print()">
                                    <img src="img/generic/print.png" alt="" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
