@{
    ViewBag.Title = "CentenaryCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">
                
                <div class="news-details">
                    <div class="news-content">
                        <span>
                            November 26, 2014
                        </span>
                        <h5>
                         Eagle Hills appoints Julius Berger as construction partner for Abuja Centenary City
                        </h5>
                        <div class="img-caption">
                         <img src="@Url.Content("~/img/media/img-3.jpg")" alt="" />
                         <span class="image-desc">
                          Centenary City PLC, a joint venture with Eagle Hills
                         </span>
                        </div>
                        <p>
                         Eagle Hills, a private real estate investment and development company headquartered in Abu Dhabi, has announced the official appointment of construction company Julius Berger Nigeria as a key collaborator and developer of Centenary City, its premier lifestyle development in Abuja. 
                        </p>
                        <p>
                         Centenary City PLC, a joint venture with Eagle Hills, aims to create the city of the future in Abuja. This milestone development is envisaged as a city within the city, and will add tremendous value to the Nigerian economy.
                        </p>
                        <p>
                         Julius Berger has played a strong role in the development of Nigeria’s flourishing industrial and civil infrastructure for close to 50 years. During this time, the company became closely involved in the planning and construction of Nigeria’s new capital, Abuja FCT.
                        </p>
                        <p>
                         Julius Berger is an industry leader and has strong track record of successfully delivering high quality works. The company has constructed major civil engineering and building projects throughout the country, including entire road networks, key bridges, damns and ports, as well as airports, industrial and sports facilities and residential developments.
                        </p>
                        <p>
                         The deployment of progressive construction methods combined with skilled staff numbering over 18,000 persons, ensure delivery of superior quality that strictly conforms to requirements set by the Standards Organization of Nigeria (SON) and International Standards Organization (ISO).
                        </p>
                        <p>
                         Detlev Lubasch, Managing Director of Julius Berger Nigeria Plc said: "Being part of the Abuja Centenary City project is a testament to our long standing commitment to Nigeria. Our goal goes beyond working on the development of this iconic city. We are strongly focused on transferring knowledge to our Nigerian employees through training and development – and are proud of our contribution to the development of specialist and technical skills of our workforce here."
                        </p>
                        <p>
                         Mohamed Alabbar, Board Member of Eagle Hills said: "Julius Berger has a long and distinguished record of delivering important projects in Nigeria and we are delighted to partner with them to develop Abuja Centenary City. Abuja Centenary City will be the world’s second-largest private city development. It will promote world-class multinational and domestic businesses in a planned environment that will encourage business and trade in the 21st century."
                        </p>
                        <p>
                         Eagle Hills has unprecedented credentials for creating mixed-use master-planned communities, with a pedigree as a developer of global mega-projects. All of the residential projects create a lifestyle that captures the very best the city has to offer. Eagle Hills is focused on the development of new city hubs in fast-growth international markets. Earlier this year, Eagle Hills announced the launch of two projects: the development of business, residential and commercial areas in the river zone of Belgrade, Serbia; and their flagship project in Abuja, Nigeria - Centenary City. A city within a city, this truly multifunctional freezone development offers a complete cosmopolitan lifestyle to its residents, as well as serves as a hub for the wider community. Eagle Hills continues to study a number of similar large projects and will look to develop real estate projects, from design to execution and asset management, including operating assets in hospitality and retail sectors.
                        </p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre", "Frontend", new { Id=2})">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                         <span class="email">
                          <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                         </span>
                         <span>
                          <a href="javascript:window.print()">
                           <img src="img/generic/print.png" alt="" />
                          </a>
                         </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
@*@section Stylings
    {
    <link rel="stylesheet" href="@Url.Content("~/css/projects.css")">
    }*@