@{
    ViewBag.Title = "news-detail-9";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">

                <div class="news-details">
                    <div class="news-content">
                        <span>
                            April 26, 2015
                        </span>
                        <h5>
                            Government of Republic of Serbia and Eagle Hills sign Joint Venture agreement for Belgrade Waterfront
                        </h5>
                        <div class="img-caption">
                            <img src="@Url.Content("~/img/media/Potpisivanje-ugovora-Beograd-na-vodi-1.jpg")" alt="" />
                            <span class="image-desc">
                                Potpisivanje ugovora Beograd na vodi 1
                            </span>
                        </div>
                        <p>
                            <ul class="block-list">
                                <li> Joint Venture agreement marks milestone for Belgrade Waterfront, a spectacular new city hub </li>
                                <li> 2 million sq m development by Eagle Hills to be anchored by Kula Belgrade </li>
                                <li> Project draws on architectural heritage of Belgrade to create a stunning modern masterpiece  </li>
                                <li> Savanova, the new exhibition space of Belgrade Waterfront projects, opens its door for visitors starting today </li>
                            </ul>
                        </p>
                        
                        <p><strong>Belgrade, Serbia; April 26, 2015:</strong> 
                        <e style="color:red">Representatives of The Government of the Republic of Serbia and Eagle Hills have signed a joint venture agreement for Belgrade Waterfront, a spectacular new city hub along River Sava, today, in the presence of H.E. Serbian Prime Minister Aleksandar Vučić and Belgrade City Mayor Mr. Siniša Mali. Signatories of the agreement are Zorana Mihajlović, Deputy Prime Minister and Minister of Construction, Transport and Infrastructure, Aleksandar Trifunovic, director of Beograd na vodi company and Mohamed Alabbar, board member of Eagle Hills.</e></p>
                        <p>                                                                                            </p>
                        <p>This agreement marks the official start up of Belgrade Waterfront, a spectacular new city hub along River Sava. The project is developed by Eagle Hills, a UAE-based private investment and real estate development company, with the support of the Serbian Government. On a total construction area of 2 million sq m, the project will have a total gross site area of approximately 1 million sq m.</p>
                      
                        <p><e style="color:red">“Big cities and countries are built on big dreams, whose magnitude may seem frightening to some. Thanks to Belgrade Waterfront, we will create tens of thousands of jobs; provide growth for our construction industry and tertiary sector. This is going to be the most beautiful area of Belgrade and the Republic of Serbia, and will make us all proud,” the Serbian Prime Minister said at the signing ceremony.</e></p>
                    
                        <p>Customers can gain insight into Belgrade Waterfront at the BW Gallery and starting today, from the new exhibition area for the development at <strong>Savanova</strong>; a vibrant lifestyle destination at the bank of Sava river, offering a one-of-a-kind waterfront experience to all visitors. Savanova was built and complete during a four-month period by local construction contractors. It provides a taste of what waterfront living would be like in Belgrade, and a sample of what is to come in the development.  </p>
                    
                        <p>With a development value of US$3 billion, Belgrade Waterfront will also feature the largest retail and lifestyle destination in the Balkans. The integrated master-planned community will comprise world-class residences, commercial hubs, premium and affordable hotels, a mall with a gross construction area of over a 140,000 sq m, educational institutions, healthcare amenities and a range of leisure attractions. The development will be anchored by Kula Belgrade, an approximately 200-metre high mixed-use tower.</p>
                        <p><br /> The developers envisage Belgrade Waterfront to be a game-changer for the city by creating a truly world-class lifestyle and business destination that demonstrates the growth potential offered by Serbia. Developed to the highest standards of sustainability, Belgrade Waterfront will not only bring in significant value to the property, hospitality and retail sectors of the city but will also catalyse foreign investments to Serbia in the coming years.</p>
                      
                        <p>The project has the potential to create over 20,000 jobs in its development and a similar number following its launch. Similar urban mega-developments potentially contribute up to 5 per cent of the gross domestic product (GDP) of cities. Designed and developed to international standards, Belgrade Waterfront will set a benchmark in modern city expansion, with a focus on conserving the heritage, strengthening road and transport infrastructure and enhancing the environment with a 2.7-hectare central park and a spectacular boulevard.</p>
                      
                        <p>For more information, call on +381 11 7888888 or email: <a href="mailto:media.belgradewaterfront@eaglehills.com">media.belgradewaterfront@eaglehills.com</a></p>
                   
                        <p><strong>-ends-</strong></p>
                        <p><strong>For further queries, please contact:</strong></p>
                        <p><a href="mailto:media.belgradewaterfront@eaglehills.com">media.belgradewaterfront@eaglehills.com</a> , <a href="mailto:pr@newmoment.com">pr@newmoment.com</a> or call + 381 11 3222 315</p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                            <span class="email">
                                <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                            </span>
                            <span>
                                <a href="javascript:window.print()">
                                    <img src="img/generic/print.png" alt="" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
