@{
    ViewBag.Title = "news-detail-11";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">

                <div class="news-details">
                    <div class="news-content">
                        <span>
                            May 25, 2015
                        </span>
                        <h5>
                            Eagle Hills announces Alaa Batayneh CEO of Jordan operations
                        </h5>
                        <div class="img-caption">
                            <img src="@Url.Content("~/img/media/Alaa Batayneh[2].jpg")" alt="" />
                            <span class="image-desc">
                                Alaa Batayneh
                            </span>
                        </div>
                        <p>(Amman, May 25, 2015): Eagle Hills, an Abu Dhabi-based private real estate investment and development company, announced the official appointment of H.E. Alaa Arif Batayneh as the Chief Executive Officer for its Jordan operations, covering all development, projects and investments for Saraya in Aqaba and Amman, and Al Maabar, a subsidiary of Eagle Hills and the developer of Marsa Zayed in Aqaba and The St. Regis Amman and The Residences at The St. Regis Amman.</p>
                        <p>Throughout his career, Batayneh held a number of senior positions within the government of Jordan, including Secretary General of the Ministry of Transport, Director General of Jordan Customs, and Minister of Energy, Transport, and Public Works. He is currently a Senator in the Upper House of Parliament.</p>
                        <p>Batayneh holds a Bachelor of Science degree in Electrical Engineering and a Master’s degree in Management Information Systems from the George Washington University in Washington D.C., USA.</p>

                        <p><b>-Ends-</b></p>

                        <p><b>About Eagle Hills Abu Dhabi</b></p>
                        <p>Eagle Hills is an Abu Dhabi-based private real estate investment and development company focused on the development of new city hubs in high-growth international markets. With a focus on developing large-scale real estate projects, Eagle Hills designs and implements mixed-use facilities. These communities draw on the latest technologies to build smart and sustainable projects that add significant value to the local economy. The company is currently developing projects in Bahrain, Jordan, Morocco, Serbia and Nigeria.</p>

                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                            <span class="email">
                                <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                            </span>
                            <span>
                                <a href="javascript:window.print()">
                                    <img src="img/generic/print.png" alt="" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
