@{
    ViewBag.Title = "CentenaryCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">
                <h3>
                    News
                </h3>
                <div class="news-details">
                    <div class="news-content">
                        <span>
                            Tuesday, September 9, 2004
                        </span>
                        <h5>
                            Lorem ipsum dolorsitsd amet consectetur
                        </h5>
                        <div class="img-caption">
                            <img src="@Url.Content("~/img/inner/news-detail.jpg")" alt="" />
                            <span class="image-desc">
                                Interdum et malesuada fames ac ante ipsum primis in faucibus
                            </span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend lectus magna, quis pretium mauris tempor eget. Vivamus quis enim vel sem malesuada luctus. Curabitur quis commodo dui, sed dapibus mi. Sed placerat, arcu et mollis dignissim, libero lorem feugiat est, nec lacinia dolor ante ut nisi. Suspendisse tristique congue sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vehicula finibus dolor et gravida. Nam tincidunt ipsum erat, vel fringilla lacus efficitur nec. Sed ultricies condimentum mauris, nec tristique nibh venenatis eu. Aenean convallis, purus sed gravida suscipit, lacus lectus gravida dui, a mattis magna leo at metus. Vestibulum pretium ipsum lacus, quis luctus arcu tincidunt eu. Fusce facilisis, purus at egestas lacinia, diam nisl semper nisl, a suscipit dolor urna ut est. Aliquam finibus lacinia ullamcorper. Aliquam accumsan est metus, dapibus lacinia nunc tempus et.
                        </p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
@*@section Stylings
    {
    <link rel="stylesheet" href="@Url.Content("~/css/projects.css")">
    }*@