@{
    ViewBag.Title = "CentenaryCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">
                
                <div class="news-details">
                    <div class="news-content">
                        <span>
                            November 19, 2014
                        </span>
                        <h5>
                         Serbian Prime Minister H.E. Alexander Vu&#269;i&#263; unveils masterplan of US$3 bn Belgrade Waterfront, a spectacular city hub along River Sava
                        </h5>
                        <div class="img-caption">
                         <img src="@Url.Content("~/img/media/img-2.jpg")" alt="" />
                         <span class="image-desc">
                          Belgrade Waterfront
                         </span>
                        </div>
                        <p>
                         Serbian Prime Minister Aleksandar Vučić today unveiled the masterplan of Belgrade Waterfront, a spectacular new city hub along River Sava, developed by Eagle Hills, a UAE-based private investment company. At a ceremony held in the capital city, HE Vučić  and Mr Mohamed Alabbar, Executive Director of Eagle Hills, revealed the key components of Belgrade Waterfront, which is billed to energise the local economy by creating a smart, tech-savvy ‘city within the city.’ The event was attended by Siniša Mali, Mayor of Belgrade, and other senior city officials.
                        </p>
                        <p>
                         “This project means a new birth for Serbia. Belgrade will become the regional center, and Serbia a country that attracts the greatest number of tourists and investors in the region. We are going to build something that Serbia will be proud of. The project will bring progress for the entire country – it will advance our industry, HoReCa (hotel/restaurant/café), tourism, and most of all, our construction industry,” the Serbian Prime Minister said at the opening ceremony.
                        </p>
                        <p>
                         Belgrade Waterfront is developed with the support of the Serbian Government. On a total construction area of 1.8 million sq m, the project will have a site area of 1 million sq m. A strong growth engine for Serbia, the stunning project will be distinguished by Kula Belgrade, an iconic tower that overlooks River Sava at a height of over 200 metres. 
                        </p>
                        <p>
                         With a development value of US$3 billion, Belgrade Waterfront will also feature the largest retail and lifestyle destination in the Balkans, The Belgrade Mall, with a gross construction area of over 140,000 sq m, and is billed to be the home for major international brands. The integrated master-planned community will comprise world-class residences, commercial hubs, eight premium and affordable value hotels, educational institutions, healthcare amenities and a range of leisure attractions.
                        </p>
                        <p>
                         The developers envisage Belgrade Waterfront to be a game-changer for the city by creating a truly world-class lifestyle and business destination that demonstrates the growth potential offered by Serbia. Developed to the highest standards of sustainability, Belgrade Waterfront will not only bring in significant value to the property, hospitality and retail sectors of the city but will also catalyse foreign investments to Serbia in the coming years. 
                        </p>
                        <p>
                         The project has the potential to create over 20,000 jobs in its development and a similar number following its launch. Similar urban mega-developments potentially contribute up to 5 per cent of the gross domestic product (GDP) of cities. Designed and developed to international standards, Belgrade Waterfront will set a benchmark in modern city expansion, with a focus on conserving the heritage, strengthening road & transport infrastructure and enhancing the environment with a large central park and a spectacular boulevard.
                        </p>
                        <p>
                         Among the distinguishing features of Belgrade Waterfront are the 1.8 km Sava promenade and a 37-hectare central park. A Grand Boulevard lined by cafes, restaurants and retail outlets add to the lifestyle appeal of Belgrade Waterfront, defining it as the must-visit leisure and tourist attraction. The boulevard is fashioned along memorable streets such as the Champs-Élysées, Las Ramblas and The Castellano.
                        </p>
                        <p>
                         A rehabilitated railway bridge will be transformed into an active pedestrian bridge connecting Belgrade Waterfront with the waterfront promenade. Belgrade Waterfront will also feature a Cultural District and Historic Plaza, which aims to add to the city’s credentials as a cultural and artistic destination. The renovation and reuse of the existing railway turn-table building into a major performance and arts centre will be the focal point of the development of a cultural and creative district.
                        </p>
                        <p>
                         Belgrade Waterfront will be developed in four phases, commencing with residential towers, serviced apartments, hotel towers, The Belgrade Mall and Kula Belgrade in the first phase. Subsequently, the commercial district, more residential projects, the Belgrade Park, and the Performance & Arts Centre will be built.
                        </p>
                        <p>
                         A number of Serbian contractors will be associated with the project with the tendering process to commence shortly. A design competition for Kula Belgrade has been launched with Serbian and international designers and architects taking part. The final design of the tower will be unveiled in due course. Kula Belgrade is envisioned to be a mixed-use project featuring residences, commercial offices, hotels, a rooftop garden and an observation deck.
                        </p>
                        <p>
                         With more than 6,000 homes including luxury and value residences planned in phases, Belgrade Waterfront is expected to be home to over 14,000 people in addition to over 12,000 office-goers through two commercial office clusters. Initial work on Belgrade Waterfront has commenced, and the first residential project within the mega-development will be launched for sale shortly.
                        </p>
                        <p>
                         Customers can gain insights into Belgrade Waterfront at the BW Gallery located within the Belgrade Co-operative building that dates back to 1905. The modern and aesthetic BW Gallery has been developed while retaining the majestic architectural features of the building. 
                        </p>
                        <p>
                         A vibrant lifestyle destination has been created at BW Gallery with the opening of 1905 Belgrade, a trendy café that pays tribute to the Belgrade Co-operative Building. The avant-garde lounge offers modern, contemporary cuisine in an inspiring environment, and is open for public.
                        </p>
                        <p>
                        For more information, call Belgrade Waterfront Gallery on +381 11 7888888 or email: <a href="mailto:media@belgradewaterfront.com">media@belgradewaterfront.com</a>.
                        </p>
                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                         <span class="email">
                          <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                         </span>
                         <span>
                          <a href="javascript:window.print()">
                           <img src="img/generic/print.png" alt="" />
                          </a>
                         </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
@*@section Stylings
    {
    <link rel="stylesheet" href="@Url.Content("~/css/projects.css")">
    }*@