@{
    ViewBag.Title = "news-detail-10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">
            <div class="news">

                <div class="news-details">
                    <div class="news-content">
                        <span>
                            May 12, 2015
                        </span>
                        <h5>
                            Marassi Al Bahrain - Bahrain’s Newest Urban Project - Makes Bahrain Debut at Gulf Property Show 2015
                        </h5>
                        <div class="img-caption">
                            <img src="@Url.Content("~/img/media/Marassi-Al-Bahrain-Gulf-Property-Show-2015-FINAL.jpg")" alt="" />
                            <span class="image-desc">
                                Marassi Al Bahrain - Gulf Property Show 2015 FINAL
                            </span>
                        </div>
                        <ul class="block-list">
                            <li>Event sees first local showcase of The Address Hotels + Resorts, and Vida Hotels and Resorts, with strong interest from the wider region</li>
                            <li>As well as luxury hotels, Marassi Al Bahrain will offer 3,500 high-end residential apartments, all providing waterside living with fantastic views.</li>
                        </ul>

                        <p><strong>Manama, 12<sup>th</sup> May 2015</strong>: At Gulf Property Show today, Eagle Hills, a private real estate development company based in the UAE and developer of Marassi Al Bahrain, showcased the project and its recently announced luxury hotel and serviced residences, which are to be operated by Emaar Hospitality Group’s hotel brands - The Address Hotels + Resorts and Vida Hotels and Resorts. The brands are new to Bahrain and underline Eagle Hills’ strong credentials as a provider of niche lifestyle experiences, especially in mixed-use projects comprising hotels and serviced residences.</p>

                        <p>Gulf Property Show marks Marassi Al Bahrain’s first exhibition and showcase in its home Kingdom, after strong interest at Arabian Travel Market in Dubai and Cityscape Abu Dhabi. Marassi Al Bahrain’s project development team is a partnership between local developer Diyar and Eagle Hills, and the urban development is located within the masterplanned community of Diyar Al Muharraq.</p>

                        <p>Marassi Al Bahrain is a 865,000 square metre waterfront destination located on the Northern shores of master-development Diyar Al Muharraq.  The urban project will be a unique destination in the Kingdom of Bahrain, offering luxury hotels and restaurants as well as 3,500 high-end residential apartments, all providing waterside living with fantastic views. Other features include business centres, shopping, leisure and entertainment venues, a cruise terminal, ample open garden areas and a traditional Souq. Both The Address Hotels + Resorts and Vida Hotels and Resorts in Marassi Al Bahrain are integrated within a new 190,000 sq m lifestyle mall offering high-end retail, private residential facilities and a world-class waterfront boardwalk promenade.</p>

                        <p>The Address Marassi Al Bahrain hotel will feature 110 rooms including 17 suites, and will have all advanced lifestyle facilities including oceanfront restaurants and lounges, meeting facilities, spa &amp; wellness centre, and outdoor pool and deck areas. The hotel offers direct access to the lifestyle mall and a dedicated beachfront area managed by The Address Hotels + Resorts. There will be 130 apartments in The Address Residences Marassi Al Bahrain, in 1, 2, and 3-bedrooms, all overlooking the waterfront.</p>

                        <p>Vida Marassi Al Bahrain hotel has 160 rooms that serve as smart-hubs where inspiring minds can meet and connect. Also offering sea-facing views, the hotel’s amenities include elegant dining destinations, poolside F&amp;B, business centre, spa, wellness centre and outdoor pool. The hotel also offers direct access to the lifestyle mall. Vida Hotels and Resorts will also manage 140 branded serviced residences of 1, 2 and 3-bedroom units.</p>
                        <p>Commenting on the milestone, Dr Maher Al Shaer, CEO of Diyar Al Muharraq and Managing Director of Marassi Al Bahrain, said: “Marassi Al Bahrain will have significant benefits for the Bahraini economy, in terms of both job creation and boosting tourism. We are also proud as a local developer to be partnering with Emaar Hospitality Group for our hotels and serviced residences, who have a track record of quality leisure destinations through their three existing hotel and serviced residence brands.”</p>
                        <p>Low Ping, CEO, Eagle Hills, said: “We are very excited for our first Bahrain exhibition, and are happy to see such a high caliber of exhibitors here, such as our colleagues from Diyar Al Muharraq. We are proud that Marassi Al Bahrain has been chosen for the expansion of The Address Hotels + Resorts regionally as well as for the first international expansion of the Vida Hotels and Resorts brand, which currently operates two hotels in Dubai, and is aimed at a tech-savvy and contemporary consumer profile.”</p>

                        <p>Philippe Zuber, Chief Operating Officer of Emaar Hospitality Group, said: “Marassi Al Bahrain is a landmark development that will usher in new lifestyle choice for the country. Emaar Hospitality Group is set apart by our exceptional track-record in managing integrated projects that include hotels and serviced residences, and this core competency is a driving force of our rapid international growth. Expanding to new markets has always been part of our development strategy, and our strong operations in Dubai have instilled in us the confidence and competency levels to meet region-specific hospitality requirements across new markets.”</p>
                        <p><b>-ENDS-</b></p>

                        <p>For more information on the Bahrain project contact:</p>
                        <p>Julia Atherton-Dandy, PR Consultant, +97339660598, <a href="mailto:julia@from6.com">julia@from6.com</a></p>

                        <p><strong>About Eagle Hills Abu Dhabi</strong></p>
                        <p>Eagle Hills is an Abu Dhabi-based private real estate investment and development company focused on the development of new city hubs in high-growth international markets. With a focus on developing large-scale real estate projects, Eagle Hills designs and implements mixed-use facilities. These communities draw on the latest technologies to build smart and sustainable projects that add significant value to the local economy. The company is currently developing projects in Bahrain, Jordan, Morocco, Serbia and Nigeria.</p>
                        <p><strong>For further details on Eagle Hills please contact:</strong></p>
                        <p><strong>Edelman Contact: </strong><a href="mailto:Eaglehills@Edelman.com"><strong>Eaglehills@Edelman.com</strong></a></p>

                        <div class="back-btn">
                            <a href="@Url.Action("media-centre","Frontend")">
                                back
                            </a>
                        </div>
                        <div class="share-print">
                            <span class="email">
                                <a href="mailto:"><img src="img/generic/email.png" alt="" /></a>
                            </span>
                            <span>
                                <a href="javascript:window.print()">
                                    <img src="img/generic/print.png" alt="" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
