@{
    ViewBag.Title = "Privacy & Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-container">
    <div class="main wrapper clearfix">
        <section id="privacy-policy">
            <div class="privacyPolicy">
                <div class="logo privacy-pol">
                    <a href="/">
                        <img src="@Url.Content("~/img/generic/whiteLogo.png")" alt="" />
                    </a>
                </div>
                <h1>
                    privacy policy
                </h1>
                <div class="copy-panel">
                    <h3>
                        Introduction
                    </h3>
                    <p>
                        Eagle Hills Properties LLC (which term includes all subsidiaries and affiliates of Eagle Hills Properties LLC) ("Company", "we" or “us”) respect your privacy and are committed to
                        protecting it through our compliance with this policy.
                    </p>
                    <p>
                        This policy describes the types of information we may collect from you or that you may
                        provide when you visit the website www.eaglehills.com (our "Website") and our practices for
                        collecting, using, maintaining, protecting and disclosing that information.
                    </p>
                    <h3>
                        This policy applies to information we collect:
                    </h3>
                    <ul>
                        <li>
                            On this Website.
                        </li>
                        <li>
                            Careers portal.
                        </li>
                        <li>
                            In e-mail, text and other electronic messages between you and this Website.
                        </li>
                        <li>
                            Through mobile and desktop applications you may download from this Website,
                            which provide dedicated non-browser-based interaction between you and this Website.
                        </li>
                        <li>
                            When you interact with our advertising and applications on third-party websites and
                            services, if those applications or advertising include links to this policy.
                        </li>
                    </ul>
                    <h3>
                        It does not apply to information collected by:
                    </h3>
                    <ul>
                        <li>
                            us offline or through any other means, including any other website operated by any third party; or
                        </li>
                        <li>
                            any third party, including through any application or content (including advertising) that may link to
                            the Website.
                        </li>
                    </ul>
                    <p>
                        Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.
                    </p>
                    <h3>
                        Information We Collect About You and How We Collect It
                    </h3>
                    <p>
                        We collect several types of information from and about users of our Website, including information:
                    </p>
                    <ul>
                        <li>
                            by which you may be personally identified, such as name, postal address, e-mail address, passport
                            number, property identification or telephone number ("personal information");
                        </li>
                        <li>
                            that is about you but individually does not identify you; and/or
                        </li>
                        <li>
                            about your internet connection, the equipment you use to access our Website and usage details.
                        </li>
                    </ul>
                    <h3>
                        We collect this information:
                    </h3>
                    <ul>
                        <li>
                            Directly from you when you provide it to us.
                        </li>
                        <li>
                            Automatically as you navigate through the site. Information collected automatically may include usage
                            details, IP addresses and information collected through cookies, web beacons and other tracking
                            technologies.
                        </li>
                        <li>
                            From third parties, for example, our business partners.
                        </li>
                    </ul>
                    <span class="load-more-copy">
                        load more <em>+</em>
                    </span>
                    <div class="more-copy">
                        <p>
                            Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.
                        </p>
                        <h3>
                            Information We Collect About You and How We Collect It
                        </h3>
                        <p>
                            We collect several types of information from and about users of our Website, including information:
                        </p>
                        <ul>
                            <li>
                                by which you may be personally identified, such as name, postal address, e-mail address, passport
                                number, property identification or telephone number ("personal information");
                            </li>
                            <li>
                                that is about you but individually does not identify you; and/or
                            </li>
                            <li>
                                about your internet connection, the equipment you use to access our Website and usage details.
                            </li>
                        </ul>
                        <h3>
                            We collect this information:
                        </h3>
                        <ul>
                            <li>
                                Directly from you when you provide it to us.
                            </li>
                            <li>
                                Automatically as you navigate through the site. Information collected automatically may include usage
                                details, IP addresses and information collected through cookies, web beacons and other tracking
                                technologies.
                            </li>
                            <li>
                                From third parties, for example, our business partners.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div> <!-- #main -->
</div> <!-- #main-container -->